*{
    margin: 0;
    padding: 0;
}
#main-screen{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #E0E0E0;
}
#info-circle{
    font-size: 100px;
    position: absolute;
    color: #1e1e1e; 
    top: 0.3em;
    left: 0.3em;
    z-index: 1000;
}

#squiggle{
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    display: none;
    animation: draw 1s linear;
}

#squiggle-svg{
    transform-origin: center;
}

@keyframes draw {
    to {
        stroke-dashoffset: -450;
    }
}