* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

h2{
    font-weight: 300;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 10em 5em;
    z-index: -1;
    filter: blur(5px);
}

#banner_content_wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#poster {
    width: 475px;
    display: grid;
    grid-template-columns: 1fr;
}

#movie {
    width: 1200px;                       /*500 */
    display: none;
    height: 600px;                      /*300 */
    grid-row: 1;
    grid-column: 1;
    transform: translate(-325px, 0);    /*-175 */
    border-radius: 0.5em;
    box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
}

#poster_image {
    width: 475px;
    border-radius: 0.5em;
    background-color: #0e0e0e;
    grid-row: 1;
    grid-column: 1;
    box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
}

#content {
    float: left;
    width: fit-content;
    max-width: 500px;
    margin-left: 100px;
    background-color: #0e0e0e;
    transform: translate(350px, 0);
    padding: 2em;
    border-radius: 0.7em;
}

#title {
    display: inline;
    font-size: 1.75em;
    color: #FFFFFF;
}

#ratings {
    display: inline;
    margin-left: 1em;
}

#ratings i {
    color: #73e298;
    font-size: 1.35em;
    margin: 0 0.15em;
}

.heart-active {
    color: #e27373;
    position: relative;
    float: right;
    margin: -15px;
    font-size: 1.75em;
}

.heart-inactive {
    color: #a8aaaf;
    position: relative;
    float: right;
    margin: -15px;
    font-size: 1.75em;
}

#ratings .inactive {
    color: #48494d;
}

#tagline{
    color: #FFFFFF;
    font-size: 1.25em;
    margin-top: 0.5em;
}

#sinopsis {
    color: #bbbebf;
    margin-top: 1em;
    font-size: medium;
}

#info {
    color: #FFFFFF;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 4em;
}

#info span {
    margin: 0 0.5em;
}

@keyframes posterAnimation {
    0% {
        width: 475px;
        height: 675px;/* */
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
        width: 1000px;
        transform: translate(-175px, 0);
        height: 600px;
    }
}

@keyframes videoAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes likeAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

#banner{
    width: 600px;
    height: 111px;
    background-color: #0e0e0e;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, 430px);
}

#logo{
    width: 800px;
    height: 310px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, -430px);
}
